* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: $text-colour;
    padding-top: 50px;
    text-transform: uppercase;
}

.fondo {
    background: linear-gradient(to right, #52796f, #84a98c);
}

.preguntasFaq {
    color: #2f3e46;
    text-transform: uppercase;
    font-size: 30px;
}

.img-fluid {
    display: flex;
    margin: auto;
}